.chats {
    width: 100%;
    max-width: 900px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 1rem 1.5rem;
    margin: 0 auto;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: var(--bg-elevated);
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: auto;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}
