<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Logo / Brand -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- Hamburger button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
      <!-- Left side nav -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link" href="/listings"><b>Explore</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new"><b>Airbnb your home</b></a>
        </li>
      </ul>

      <!-- Center / Country search -->
      <form action="/listings/search" method="GET" class="d-flex mx-auto my-2 my-lg-0">
        <input type="text" name="country" class="form-control me-2" placeholder="Search by country..." 
          style="border-radius: 50px; border: 2px solid black; min-width: 200px;"
          value="<%= typeof country !== 'undefined' ? country : '' %>">
        <button class="btn btn-danger me-2" style="border-radius: 50px;">Search</button>
        <a href="/listings" class="btn btn-secondary" style="border-radius: 50px;">Reset</a>
      </form>

      <!-- Right side auth buttons -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
        <% if (currUser) { %>
          <li class="nav-item">
            <span class="nav-link" style="opacity: 0.7;"><b>Hello, <%= currUser.username %>!</b></span>
          </li>
          <li class="nav-item">
            <form action="/logout" method="POST">
              <button class="btn btn-link nav-link" style="opacity: 0.7;" type="submit"><b>Logout</b></button>
            </form>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup" style="opacity: 0.7;"><b>Sign Up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" style="opacity: 0.7;"><b>Login</b></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<style>
/* Mobile: center auth buttons in collapse menu */
@media (max-width: 991.98px) {
  #navbarResponsive .navbar-nav.ms-auto,
  #navbarResponsive .navbar-nav.me-auto {
    text-align: center;
    width: 100%;
  }

  #navbarResponsive .navbar-nav.ms-auto .nav-item,
  #navbarResponsive .navbar-nav.me-auto .nav-item {
    margin-bottom: 0.5rem;
  }

  #navbarResponsive .navbar-nav.ms-auto form {
    display: inline-block;
  }
}
</style>
